CARNET=201801391
PROC_PATH=/proc/continfo_pr2_so1_201801391
LOOP_INTERVAL=30s
METRICS_ADDR=:9105
VALKEY_ADDR=127.0.0.1:6379
VALKEY_PASSWORD=
COMPOSE_FILE=./docker-compose.yml
PROJECT_ROOT=.
BPF_OBJECT=./daemon/internal/ebpf/kill_monitor.bpf.o
MIN_LOW_CONTAINERS=3
MIN_HIGH_CONTAINERS=2
DELETE_CONFIRM_TIMEOUT=15s

